<div class="hash-thing" fxLayout="column" fxLayoutAlign="center center">
  <h1>Hash Helper</h1>

  <input type="text" name="search"
         #strInput (input)="input.next(strInput.value)"
         autocomplete="off" autocorrect="off"/>

  <div>
    CRC32: {{(crc32 | async) | hex}}
  </div>
  <div>
    Matched Assets:
    <table>
      <tr *ngFor="let match of (matchResults | async).resultArray">
        <td>{{match[0] | hex}}</td>
        <td>{{match[1]}}</td>
      </tr>
    </table>
  </div>
</div>

